#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Camera-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 376px;
  height: 667px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Focus {
  position: absolute;
  top: 243px;
  left: 42px;
  width: 243px;
  height: 138px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  z-index: 100;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Focus .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Focus span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Focus span#rtr-s-Focus_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-barcode {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 376px;
  height: 491px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Header-base {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 46px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Header-base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Header-base span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Header-base span#rtr-s-Header-base_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Footer-base {
  position: absolute;
  top: 542px;
  left: 0px;
  width: 375px;
  height: 125px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Footer-base .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Footer-base span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Footer-base span#rtr-s-Footer-base_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Image_1 > svg {
  width: 22px;
  height: 22px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Image_1 {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Label-Off {
  position: absolute;
  top: 18px;
  left: 32px;
  width: 60px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Label-Off .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Label-Off span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Label-Off span#rtr-s-Label-Off_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Rec-button {
  position: absolute;
  top: 591px;
  left: 159px;
  width: 61px;
  height: 63px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse_272 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 61px;
  height: 63px;
  position: absolute;
  overflow: hidden;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse_272 .content {
  width: 61px;
  height: 63px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse_272 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse_272 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse_272 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse_272 span#rtr-s-Ellipse_272_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse_273 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 42px;
  height: 43px;
  position: absolute;
  overflow: hidden;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse_273 .content {
  width: 42px;
  height: 43px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse_273 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 42px;
  height: 43px;
  background-color: #DD3214;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse_273 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse_273 span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse_273 span#rtr-s-Ellipse_273_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Rectangle {
  position: absolute;
  top: 597px;
  left: 16px;
  width: 50px;
  height: 50px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Rectangle span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse .content {
  width: 10px;
  height: 10px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Ellipse {
  position: absolute;
  top: 553px;
  left: 185px;
  width: 10px;
  height: 10px;
  background-color: #FBD433;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #shapewrapper-s-Ellipse span#rtr-s-Ellipse_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Image_2 > svg {
  width: 27px;
  height: 27px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Image_2 {
  position: absolute;
  top: 10px;
  left: 339px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Video-label {
  position: absolute;
  top: 563px;
  left: 148px;
  width: 85px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Video-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Video-label span {
  color: #FBD433;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Video-label span#rtr-s-Video-label_0 {
  color: #FBD433;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-Video-label span#rtr-s-Video-label_1 {
  color: #FBD433;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-num-rec-label {
  position: absolute;
  top: 18px;
  left: 159px;
  width: 60px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-num-rec-label .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-num-rec-label span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 #s-num-rec-label span#rtr-s-num-rec-label_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-02b3a664-30f0-4df1-bbd7-fa3265b67423 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}