#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5ed58689-a662-498f-bb37-78bc2364d80f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}