#s-6f10d2c8-a8c8-473a-a031-25e88c8fb2e0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f10d2c8-a8c8-473a-a031-25e88c8fb2e0 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6f10d2c8-a8c8-473a-a031-25e88c8fb2e0 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6f10d2c8-a8c8-473a-a031-25e88c8fb2e0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}