#s-86c31dae-51fa-4336-9977-03d301215055 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86c31dae-51fa-4336-9977-03d301215055 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86c31dae-51fa-4336-9977-03d301215055 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86c31dae-51fa-4336-9977-03d301215055 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86c31dae-51fa-4336-9977-03d301215055 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-86c31dae-51fa-4336-9977-03d301215055 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}