#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-spar_img {
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-pc_image {
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-hervis_img {
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-leclerc_img {
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}