#s-916be54d-d6ba-4130-8a30-a466f0fd68f5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-916be54d-d6ba-4130-8a30-a466f0fd68f5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-916be54d-d6ba-4130-8a30-a466f0fd68f5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-916be54d-d6ba-4130-8a30-a466f0fd68f5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-916be54d-d6ba-4130-8a30-a466f0fd68f5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-916be54d-d6ba-4130-8a30-a466f0fd68f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}