#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a36283d8-cc3a-4307-a687-abe25f9ab54c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}