#s-a8afc11b-e372-4e12-b9fc-68c6d41eaf7c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8afc11b-e372-4e12-b9fc-68c6d41eaf7c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a8afc11b-e372-4e12-b9fc-68c6d41eaf7c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8afc11b-e372-4e12-b9fc-68c6d41eaf7c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a8afc11b-e372-4e12-b9fc-68c6d41eaf7c #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a8afc11b-e372-4e12-b9fc-68c6d41eaf7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}