#t-0fbedd9c-b498-42f5-956d-a86d2a9b575b > #backgroundBox {
  background-color: #EEEEF3;
  background-image: none;
  position: absolute;
}
#t-0fbedd9c-b498-42f5-956d-a86d2a9b575b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-0fbedd9c-b498-42f5-956d-a86d2a9b575b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}