#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Foryou-screen {
  border-collapse: separate;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_216 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Cell-center > .valign {
  vertical-align: top;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Cell-bottom {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Notification-lite {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_91 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rich_text_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5A00;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5A00;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5A00;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5A00;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 12px;
  height: 12px;
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_92 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_93 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}