#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Notification-lite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 #t-Label_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1e8a452c-0c3e-434b-9a69-9f88c989dab1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}